In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv("Linear_train.csv")
test = pd.read_csv("Linear_test.csv")

In [3]:
train.head()

,Unnamed: 0,A,B,C,D,E,F,G,H,I,...,L,M,N,O,P,Q,R,S,T,label
0,0,-9.989516,1564.957586,8.199060,32.508797,19.464400,1644.524093,26.100966,34.731954,4378.575414,...,770.535311,30.060441,-25.002361,11.892468,-34.329383,37.218423,-4.440530,29.075092,29.107896,311.232491
1,1,-17.591800,1559.053039,12.302737,-36.351098,6.256406,1640.834263,12.954212,-43.333128,4833.766813,...,997.260070,-1.329145,16.022086,42.972484,-7.372877,45.550946,37.576551,12.926551,-32.565844,6393.112342
2,2,-28.321695,1305.900952,-35.681049,-9.039358,-45.519426,2039.003363,-0.154348,18.107957,4162.395297,...,616.059291,-6.997085,27.846844,26.511376,19.323152,-35.807513,-5.913019,15.046779,-34.332357,2601.046223
3,3,-40.471241,1612.746996,-28.980454,2.137719,-34.767491,2757.469393,23.857472,-48.434183,4340.953927,...,715.537625,-12.441561,47.883434,36.994884,30.783992,22.162383,16.465836,41.435425,33.561233,13572.118110
4,4,-36.525271,1852.275617,-32.744347,-1.439526,-14.061837,2138.422485,44.061988,33.336936,4099.453685,...,629.221442,10.992360,-47.143335,-8.296962,-8.086565,39.169726,-49.540056,-32.518653,-36.320202,-5462.446898

In [4]:
train = train.drop(["Unnamed: 0"], axis = 1).values
test = test.drop(["Unnamed: 0"], axis = 1).values

In [5]:
train_data = train.values
Y = train_data[:, -1].reshape(train_data.shape[0], 1)
X = train_data[:, :-1]

AttributeError: 'numpy.ndarray' object has no attribute 'values'

In [ ]:
test_data = test.values
Y_test = test_data[:, -1].reshape(test_data.shape[0], 1)
X_test = test_data[:, :-1]

In [ ]:
print("Shape of X_train :", X.shape)
print("Shape of Y_train :", Y.shape)
print("Shape of X_test :", X_test.shape)
print("Shape of Y_test :", Y_test.shape)

In [ ]:
X = np.vstack((np.ones((X.shape[0], )), X.T)).T
X_test = np.vstack((np.ones((X_test.shape[0], )), X_test.T)).T

In [ ]:
def model(X, Y, learning_rate, iteration):
 m = Y.size
 theta = np.zeros((X.shape[1], 1))
 cost_list = []
 for i in range(iteration):
 y_pred = np.dot(X, theta)
 cost = (1/(2*m))*np.sum(np.square(y_pred - Y))
 d_theta = (1/m)*np.dot(X.T, y_pred - Y)
 theta = theta - learning_rate*d_theta
 cost_list.append(cost)

 if(i%(iteration/10) == 0):
        print("Cost is :", cost)
 return theta, cost_list

In [ ]:
iteration = 10000
learning_rate = 0.000000005
theta, cost_list = model(X, Y, learning_rate = learning_rate, iteration =
iteration)